@import 'mixins.scss';

.container {
  padding: 0;
  min-height: 80vh;
}

.main {
  padding-top: $header-height;
  max-width: $max-width;
  margin: 0 auto;
}

.body {
  width: 100%;
  display: flex;
  gap: 32px;
}

.article {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 32px $global-padding;
  gap: 48px;
  justify-content: center;
}

.content {
  flex: 1;
  width: 100%;
  max-width: $docs-content-max-width;
}

.markdowninjection {

  h1 {
    font-size: 40px;
    padding-bottom: 12px;
    border-bottom: 1px solid;
    border-color: $grey-border;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 64px;
    margin-bottom: 32px;
  }

  p,
  li {
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: $spacing-text;
    margin: 12px 0;
  }

  ul {
    padding-left: 2em;
  }

  a {
    color: $link;

    &:hover {
      color: lighten($link, 20%);
    }
  }

  pre {
    margin: 24px 0;
    background-color: $grey-100;
    border: 0.5px solid;
    border-color: $grey-border;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    overflow: scroll;
    font-family: 'Ubuntu Mono', monospace;

    code {
      background-color: transparent;
      border: none;
    }
  }

  code {
    background-color: $grey-100;
    border: 0.5px solid;
    border-color: $grey-border;
    border-radius: 2px;
    font-family: 'Ubuntu Mono', monospace;
  }

  img {
    width: 100%;
    border: 1px solid;
    border-color: $grey-border;
    border-radius: 4px;
    box-shadow: $shadow-weak;
    margin: 24px auto;
  }
}
