@import 'mixins.scss';

.wraplink {
  display: flex;
  height: 100%;
  align-items: center;
}

.headerwrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  height: $header-height;
  overflow: hidden;

  background-color: rgba($white, .6);
  border-bottom: 1px solid;
  border-color: $grey-border;
  backdrop-filter: blur(12px);

  transition: $transition-long;

  &.dark {
    background-color: transparent;
    color: $white;
  }

  &.open {
    height: 100vh;
    overflow: scroll;
    background-color: rgba($white, .8);
  }
}

.header {
  width: 100%;
  height: $header-height;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $global-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 24px;
  fill: $primary;
  transition: $transition-short;

  &.dark {
    fill: $white;
  }
}


.github,
.menu,
.close {
  height: 24px;
  fill: $text;
  transition: $transition-short;

  &:hover {
    fill: $grey-500t;
  }
}

.dark {

  .github,
  .menu,
  .close {
    fill: $white;

    &:hover {
      fill: rgba($white, .8);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;

  li {
    list-style: none;
  }

  .navbuttons {
    gap: 8px;
    display: flex;
    align-items: center;
  }
}

.navbutton {
  border-radius: 8px;
  transition: $transition-short;

  &:hover {
    background-color: $navy-100t;
  }

  &:active {
    background-color: $navy-200t;
  }

  &.active {
    font-weight: bold;
    background-color: $navy-200t;
    color: $primary;
    pointer-events: none;
  }

  .wraplink {
    padding: 10px;
  }
}

.langswitcher {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $grey-text;

  a {
    cursor: pointer;
    transition: $transition-short;

    &:hover {
      color: $text;
    }

    &:active {
      color: $grey-text;
    }

    &.active {
      font-weight: bold;
      color: $text;
      cursor: default;
    }
  }

  p {
    margin: 0;
  }
}

.dark .langswitcher {
  &.desktop {
    color: rgba($white, 0.6);

    a {
      &:hover {
        color: $white;
      }

      &:active {
        color: rgba($white, 0.6);
      }

      &.active {
        color: $white;
      }
    }
  }
}

.mobilenav {
  min-height: calc(100% - $header-height);

  li {
    list-style: none;
  }

  .mobilenavinner {
    max-width: 480px;
    margin: 0 auto;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .toprow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .divider {
    margin: 0 -8px;
    border-top: 1px solid;
    border-color: $grey-border;
  }

  .section {
    color: $navy-400t;
    font-weight: bold;
  }
}
