@import "mixins.scss";
@import "breakpoints.scss";

.container {}

.wraplink {
  display: flex;
  height: 100%;
  align-items: center;
}

.button {
  padding: 10px 16px;
  background: $primary;
  border: 1px solid;
  border-color: $white;
  border-radius: 8px;

  &.cta {
    border: none;
    font-weight: bold;
    background: $gradient-cta;
  }
}

.fv {
  height: 40vh;
  background: $gradient-navy-vertical;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $white;

  h1 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 28px;

    text-align: center;
    letter-spacing: 0.06em;
    line-height: 1.4em;

    @include mq(withsidebar) {
      font-size: 44px;
    }
  }

  .desc {
    margin: 0;
    margin-bottom: 8px;

    text-align: center;
    letter-spacing: 0.06em;
    line-height: 1.4em;
  }

  .buttonwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: -24px;
    transform: translateY(40%);
    z-index: 10;
  }
}

.stickybgwrap {
  position: relative;
}

.stickybg {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: $navy-800;
  z-index: -1;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.stickyspacer {
  height: 100vh;
  background: transparent;
}

.nextsection {
  background-color: rgba($navy-200, 0.8);
  padding: 64px;
  height: 500vh;
  backdrop-filter: blur(12px);
}

.aftersticky {
  height: 500vh;
}
