@import "mixins.scss";
@import "breakpoints.scss";

$blur: blur(12px);

.container {}

.wraplink {
  display: flex;
  height: 100%;
  align-items: center;
}

.button {
  padding: 10px 24px;
  font-size: 16px;
  background: $primary;
  border: 1px solid;
  border-color: $white;
  border-radius: 8px;
  transition: $transition-short;

  &:hover {
    background: $navy-600;
    transform: translateY(4px);
  }

  &.cta {
    border: none;
    font-weight: bold;
    background: $gradient-cta;

    &:hover {
      background: $gradient-cta-hover;
    }

    &.white {
      background: $white;
      color: $primary;

      &:hover {
        background: $navy-300;
      }
    }
  }
}

.chevronlink {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: $transition-short;

  &:hover {
    background-color: rgba($link, 0.2);
  }

  p {
    font-size: 14px;
    font-weight: bold;
    color: $link;
    margin: 0;
  }

  .chevron {
    fill: $link;
    width: 20px;
  }
}

.fv {
  min-height: 40vh;
  background: transparent;
  overflow: hidden;

  padding: calc($header-height + 48px) $global-padding 48px $global-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $white;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -24px;
    bottom: -24px;
    left: -24px;
    right: -24px;
    z-index: -1;
    background: url('/top/gradient.png');
    background-size: cover;
    background-position: bottom;
  }

  @include mq(withsidebar) {
    min-height: 360px;
  }


  h1 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 28px;

    text-align: center;
    letter-spacing: $spacing-medium;
    line-height: 1.4em;

    word-break: keep-all;
    overflow-wrap: break-word;

    @include mq(withsidebar) {
      font-size: 44px;
    }
  }

  .desc {
    color: rgba($white, 0.7);
    margin: 0;
    margin-bottom: 8px;

    text-align: center;
    letter-spacing: $spacing-medium;
    line-height: 1.4em;
  }

  .for {
    color: rgba($white, 0.5);
    margin: 0;
    margin-bottom: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(notphone) {
      flex-direction: row;
      gap: 8px;
    }
  }

  .box {
    display: inline-block;
    padding: 4px 12px;
    color: $white;
    background-color: rgba($white, 12%);
    border-radius: 8px;
  }
}

.buttonwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: -48px 0;
  color: $white;
  position: relative;
  z-index: 10;
}

.stickybgwrap {
  position: relative;
}

.stickybg {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: $navy-800;
  z-index: -1;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.stickyspacer {
  height: 200vh;
  background: transparent;
}

.explainer {
  // background-color: rgba($white, 0.8);
  background-color: rgba($navy-800, 0.8);
  color: $white;
  backdrop-filter: $blur;
  padding: 64px $global-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;

  &>* {
    max-width: $docs-content-max-width;
  }

  p {
    margin: 0;
  }

  @include mq(withsidebar) {
    padding: 32px $global-padding;
  }
}

.featurewrap {
  padding: 80px $global-padding;
  backdrop-filter: $blur;

  &:nth-child(odd) {
    background-color: rgba($navy-200, 0.9);
  }

  &:nth-child(even) {
    background-color: rgba($white, 0.9);
  }

  @include mq(withsidebar) {
    padding: 64px calc($global-padding + 32px);
  }
}

.feature {
  max-width: $top-content-max-width;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 48px;

  .vertical {
    flex: 1;

    .title {
      font-size: 16px;
      letter-spacing: $spacing-medium;
      margin: 0;
      margin-top: 48px;

      @include mq(withsidebar) {
        margin-top: 0;
      }
    }

    .heading {
      margin: 0;
      font-weight: normal;
      margin-top: 8px;
      font-size: 24px;
      letter-spacing: $spacing-medium;

      span {
        display: inline-block;
        width: 100%;
      }

      @include mq(withsidebar) {
        margin-top: 8px;
        font-size: 28px;
      }
    }

    .desc {
      margin: 0;
      margin-top: 24px;

      @include mq(withsidebar) {
        margin-top: 32px;
      }

      .bold {
        font-weight: bold;
      }
    }

    ul {
      margin-top: 32px;
      // padding-left: 1em;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mq(withsidebar) {
        margin-top: 24px;
        gap: 8px;
      }
    }

    li {
      padding-left: 1.5em;

      &::before {
        content: "";
        display: inline-block;
        background-color: rgba($navy-700, 0.3);
        vertical-align: center;
        border-radius: 2px;
        width: 0.5em;
        height: 0.5em;
        margin-left: -1.5em;
        margin-right: 1em;
        transform: translateY(-2px);
      }
    }
  }

  .imagewrap {
    position: relative;
    flex: 1;
    height: 560px;

    &.mobile {
      height: 360px;
      margin: 0 -8px;
    }
  }

  .image {
    object-fit: cover;
    border-radius: 18px;
    box-shadow: $shadow-weak;
  }
}

.feature3dwindow {
  max-width: $top-content-max-width;
  margin: 32px -8px;
  padding: 32px 16px;
  background-color: $navy-100;
  border: 1px solid;
  border-color: $grey-border;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  @include mq(withsidebar) {
    margin: 0 auto;
    margin-top: 64px;
    padding: 32px 48px;
    flex-direction: row;
    align-items: center;
    gap: 48px;

    .left,
    .right {
      flex: 1;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 24px;
  }

  .bold {
    font-weight: bold;
  }

  .wraplink {
    align-self: center;
  }

  .imagewrap {
    position: relative;
    width: 100%;
    height: 360px;

    &.mobile {
      height: 240px;
    }
  }

  .image {
    object-fit: contain;
    background-color: #fff;
    border: 1px solid;
    border-color: $grey-border;
    border-radius: 18px;
    box-shadow: $shadow-weak;
  }
}

.videowrap {
  padding: 0 $global-padding;
  background-color: rgba($white, 0.9);
  backdrop-filter: $blur;
}

.videoinner {
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $top-content-max-width;

  p {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
  }

  h2 {
    margin: 0;
    margin-bottom: 32px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: $spacing-medium;
  }

  .video {
    width: 100%;
    height: 60vh;
    background-color: $grey-text;
  }
}

.videoembed {
  width: 100%;
  height: 60vh;
}

.try {
  padding: 0 $global-padding;
  background: $gradient-navy-horizontal;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/top/gradient_navy.png');
    background-size: cover;
    opacity: 0.8;
    z-index: 0;
  }
}

.tryinner {
  margin: 0 auto;
  padding: 64px 0;
  max-width: $docs-content-max-width;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;

  h2 {
    font-weight: normal;
    text-align: center;
    letter-spacing: $spacing-medium;
  }

  p {
    text-align: center;
    margin: 0;
  }

  .trydesc {
    font-size: 16px;
  }

  .trybeta {
    font-size: 13px;
    color: rgba($white, 0.7);
    margin: 8px 0 32px 0;
  }

  .trylink {
    font-weight: bold;
    color: $link;
    // text-shadow: 0 0 2px $grey-300t;
  }
}

.twitter {
  padding: 0 $global-padding;
  background: $navy-200;
}

.twitterinner {
  margin: 0 auto;
  padding: 64px 0;
  max-width: $docs-content-max-width;

  div {
    overflow: scroll;
  }

  .head {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;

    @include mq(withsidebar) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    letter-spacing: $spacing-medium;
  }
}

.links {
  padding: 0 $global-padding;
  background: $navy-100;
}

.linksinner {
  margin: 0 auto;
  padding: 96px 0;
  max-width: $top-content-max-width;

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 48px;
    letter-spacing: $spacing-medium;
  }

  .cardwrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;

    @include mq(withsidebar) {
      flex-direction: row;
      gap: 24px;

      .wraplink {
        flex: 1;
      }
    }
  }
}

.card {
  width: 100%;
  padding: 24px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: $shadow-weak;
  gap: 12px;
  transition: $transition-short;

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    margin: 0;
  }

  &:hover {
    background-color: $grey-100t;
    box-shadow: 0px 0px 0px 0px transparent;
    transform: translateY(2px);
  }
}
