$navy-100: #f3f4f6;
$navy-200: #e8e9ee;
$navy-300: #cfd2db;
$navy-400: #b8bcca;
$navy-500: #878ea5;
$navy-600: #596383;
$navy-700: #111f4d;
$navy-800: #040d29;

$navy-100t: #111f4d0c;
$navy-200t: #111f4d19;
$navy-300t: #111f4d33;
$navy-400t: #111f4d4c;
$navy-500t: #111f4d7f;
$navy-600t: #111f4db2;

$red-500: #ea3a19;

$blue-500: #1183ed;

$white: #ffffff;
$black: #000000;

$grey-100: #f5f5f5;
$grey-200: #ebebeb;
$grey-300: #e0e0e0;
$grey-400: #b3b3b3;
$grey-500: #808080;
$grey-600: #4d4d4d;
$grey-700: #1a1a1a;

$grey-100t: #0000000A;
$grey-200t: #00000014;
$grey-300t: #0000001f;
$grey-400t: #0000004c;
$grey-500t: #0000007f;
$grey-600t: #000000b2;
$grey-700t: #000000e5;

$primary: $navy-700;
$accent: $red-500;
$link: $blue-500;
$text: $grey-700t;

$grey-border: $grey-200t;
$grey-text: $grey-400t;

$header-height: 64px;
$max-width: 1440px;
$docs-content-max-width: 700px;
$global-padding: 24px;

$transition-short: 0.1s ease;
