@import 'mixins.scss';

.wraplink {
  display: flex;
  height: 100%;
  align-items: center;
}

.sidenavwrap {
  position: relative;
  width: 320px;
  height: 100;
}

.sidenav {
  position: sticky;
  top: $header-height;
  height: calc($header-height + 100vh);
  padding: 32px $global-padding;
  overflow-y: scroll;
}

.subsection {
  padding-bottom: 24px;
}

.subsectiontitle {
  margin: 0;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $grey-text;
}

.article {
  margin: 0 -8px 4px -8px;
  padding: 6px 8px;
  border-radius: 4px;

  list-style: none;
  font-size: 14px;
  line-height: 1.6em;

  transition: $transition-short;

  &:hover {
    background-color: $navy-100;
  }

  &.active {
    color: $primary;
    font-weight: bold;
    background-color: $navy-200;
  }
}

.divider {
  border-top: 1px solid;
  border-color: $grey-border;
  margin: 12px 0;
}

.discordsection {
  padding: 24px 0;

  h4 {
    margin: 0;
    margin-bottom: 8px;
  }

  .desc {
    margin: 0;
    margin-bottom: 8px;
  }

  .discordbutton {
    margin-top: 8px;
    border-radius: 16px;
    background-color: $discord-purple;
    color: $white;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;

    transition: $transition-short;
    box-shadow: 0px 4px 12px 0px rgba($discord-purple, 0.5);

    &:hover {
      background-color: saturate(lighten($discord-purple, 5%), 10%);
      box-shadow: 0px 0px 0px 0px transparent;
      transform: translateY(4px);
    }

    &:active {
      background-color: saturate(lighten($discord-purple, 10%), 10%);
    }

    .discord,
    .chevron {
      width: 24px;
      fill: $white;
    }

    p {
      margin: 0;
    }
  }
}
