@import 'mixins.scss';

.wraplink {
  display: flex;
  height: 100%;
  align-items: center;
}

.sidenavwrap {
  position: relative;
  width: 320px;
  height: 100;
}

.sidenav {
  position: sticky;
  top: $header-height;
  height: calc($header-height + 100vh);
  padding: 32px $global-padding;
  overflow-y: scroll;
}

.subsection {
  padding-bottom: 24px;
}

.subsectiontitle {
  margin: 0;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 13px;
  letter-spacing: $spacing-large;
  color: $grey-text;
}

.divider {
  border-top: 1px solid;
  border-color: $grey-border;
  margin: 12px 0;
}
